button {
    font-family: 'Vectrex';
    color: white;
    background-color: grey;
    border: 1px solid black;
    margin-right: 4px;
  }
  
  .slider {
    margin: 64px 64px 100px 0;
    font-size: 10px;
    .label {
      font-size: 12px;
      position: absolute;
      top: -32px;
      width: 100%;
      .value {
        position: absolute;
        right: 0;
        color: black;
      }
    }
    .noUi-value-horizontal {
      margin-top: 8px;
    }
  }

  .component {
    margin-bottom: 128px;

    h2 {
      width: 100%;
      background-color: lightgrey;
      color: white;
      padding: 0 16px;
      margin: 16px -16px;
    }
  }
  